/* @media only screen and (max-width: 700px) {
  .section-image {
    order: 1;
  }
} */

/* .nextAnimation {
  animation: 3s ease-in 1s infinite reverse both running slidein;
} */

.prevAnimation {
  animation-name: prev;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
}

@keyframes next {
  0% {
    transform: translateX(+700px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes prev {
  0% {
    transform: translateX(-700px);
  }

  100% {
    transform: translateX(0);
  }
}

/* The element to apply the animation to */
.nextAnimation {
  animation-name: next;
  animation-timing-function: ease-in-out;
  animation-duration: 0.2s;
}

.half_circle_loader {
  width: 180px;
  height: 90px;
  margin: 0 auto;
  border: 5px solid lightgray;
  /* background: lightgray; */
  border-bottom: 0;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  animation-name: half_circle_loader;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes half_circle_loader {
  0% {
    border-color: #fffaf0;
  }
  60% {
    border-color: #feebc8;
  }
  100% {
    border-color: #a0aec0;
  }
}

@media screen and (max-width: 959px) and (min-width: 400px) {
  .energyBadge {
    font-size: 11px !important;
  }
}
@media screen and (max-width: 763px) and (min-width: 700px) {
  .section4 img,
  .vegtable-img {
    width: 340px;
    height: 340px;
  }
  .section4 div h3 {
    font-size: 25px;
  }
  .section4-text {
    font-size: 16px !important;
  }
  .section5-7 img {
    width: 250px;
    height: 250px;
  }
}

.term-table table,
.term-table th,
.term-table td {
  border: 1px solid black;
  border-collapse: collapse;
}
.ketoslider {
  min-width: 100%;
  animation-duration: 2000s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: slideShowHorizontal;
}
@media screen and (max-width: 699.9px) {
  .ketoslider {
    height: 140px;

    background-image: url('/home/ketoslider-sm.png');
  }
}
@media screen and (min-width: 699.9px) {
  .ketoslider {
    height: 280px;
    animation-duration: 2000s;

    background-image: url('/home/ketoslider-xl.png');
  }
}
@keyframes slideShowHorizontal {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: 10000% 0;
  }
}
@media screen and (min-width: 750px) and (max-width: 900px) {
  .sec8-image {
    width: 250px !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 750px) {
  .sec8-image {
    width: 200px !important;
  }
}
@media screen and (max-width: 504px) {
  .more-people-icon {
    font-size: 3em !important;
  }
}

@media screen and (max-width: 700px) {
  .home-image {
    border-radius: 15px;
  }
}

.before-after {
  animation-duration: 0.8s;
  /* animation-delay: 1s; */
  /* animation-timing-function: ease-in-out; */
  animation-name: before-after;
}
@keyframes before-after {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
